.tooltip {
  position: relative;
}

.text {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  background-color: blue;
  padding: 10px;
  color: #ffffff;
  font-size: 11px;

  &:before {
    content: '';
    position: absolute;
    bottom: calc(100% - 10px);
    left: -10px;
    border: 10px solid blue;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
  }
}